@media (min-width: 481px) and (max-width: 768px)
    .main-menu
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        font-size: calc(0.7em + 1vw) 
        letter-spacing: 0.05em
        font-weight: bold

